<div class="extrab"> 
   <button class="erase">Erase</button>
   <button class="undo">Undo</button>
   <button class="save">Save</button>
   <button class="restore">Restore</button>
   <button class="submit">Submit</button>
 </div>
 
 </div>
<div id="rules" class="rules">
   <h4 >About the Project</h4>
   <p>A Sudoku game developed with Express.js, EJS, JQuery and CSS. The game provides all the fundamental aspects of the game flow, uses cookies to store the game status between re-renders and is playable on any device having a browser (touchscreen or keyboard).
<br/>
The solver visualization part is implemented using the backtracking algorithm and asynchronous Javascript for animation (Click on "SOLVE" to visualize the backtracking algorithm to solve the Sudoku game).
</p>
   <hr/>
 <h4> How to play Sudoku</h4>
    <p>
       The classic Sudoku game involves a grid of 81 squares. The grid is divided into nine blocks, each containing nine squares.
    <br>
       The rules of the game are simple: each of the nine blocks has to contain all the numbers 1-9 within its squares. Each number can only appear once in a row, column or box.
    <br>
       The difficulty lies in that each vertical nine-square column, or horizontal nine-square line across, within the larger square, must also contain the numbers 1-9, without repetition or omission.
    </p>
    <hr/>
 <h4>Sudoku Tips</h4>
    <p>
    Sudoku is a fun puzzle game once you get the hang of it. At the same time, learning to play Sudoku can be a bit intimidating for beginners. So, if you are a complete beginner, here are a few Sudoku tips that you can use to improve your Sudoku skills.
    <br>
  <ul>
  <li>
    Tip 1: Look for rows, columns of 3×3 sections that contain 5 or more numbers. Work through the remaining empty cells, trying the numbers that have not been used. In many cases, you will find numbers that can only be placed in one position considering the other numbers that are already in its row, column, and 3×3 grid.
  </li>
  <li>
    Tip 2: Break the grid up visually into 3 columns and 3 rows. Each large column will have 3, 3×3 grids and each row will have 3, 3×3 grids. Now, look for columns or grids that have 2 of the same number. Logically, there must be a 3rd copy of the same number in the only remaining 9-cell section. Look at each of the remaining 9 positions and see if you can find the location of the missing number.
    Now that you know a little more about Sudoku, play and enjoy this free online game.</p>
  
  </ul>
  </p>
  </div>
</div>  
<footer>
   
   <p  class="footer-txt"> Handmade in India by 
      <a class="likedin" target="_blank" href="https://www.linkedin.com/in/pranjay-pathak-411702208/">Pranjay Pathak</a>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"/></svg> 
   </p>

   </footer>
</body>
</div>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous" defer></script>
<script src="js/board.js" defer></script>

</html>
