<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>
      SudokuPrj - Sudoku Game & solver using Backtracking visualization
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="Pranjay" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-title"
      content="SudokuPrj - Sudoku Game & solver using Backtracking visualization"
    />

    <meta
      name="title"
      content="SudokuPrj - Sudoku Game & solver using Backtracking visualization"
    />
    <meta
      name="description"
      content="
A Sudoku game with its solution visualizer. The game provides all the fundamental aspects of the flow, uses cookies to store the game status between re-renders and is playable on any device having a browser (touchscreen or keyboard).
The solver visualization part is implemented using the backtracking algorithm and asynchronous Javascript for animation. "
    />

    <meta
      name="keywords"
      content="sudoku, online sudoku, sudoku backtracking, backtracking visualization"
    />
  
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="fav/fav.ico" />

    <link rel="stylesheet" href="css/board.css" />
    <title>SUDOKUprj</title>
  </head>
  <body>
    <div class="godA">
      <nav tabindex="0">
        <div>
          <a href="#" class="logo"
            ><h2>Sudoku.<span class="sol">Pro</span></h2></a
          >
        </div>

        <ul class="nav_links">
          <li><a href="/new">New Game</a></li>
          <li><a href="/restart" id="res">Restart</a></li>
          <li><a class="sol" href="#">SOLVE</a></li>
          <li><a href="#rules">Help</a></li>
          <li><a href="#rules">About</a></li>
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
      <div class="god">
        <div class="wrapper">
          <div class="extra">
            <div class="drop">
              <p>Difficulty:</p>
              <div class="dropdown">
                <p class="dif" tabindex="0">
                  <%= mode %> <i class="arrow down"></i>
                </p>
                <ul class="invisible">
                  <li><a href="/diff/easy">Easy</a></li>
                  <li><a href="/diff/medium">Medium</a></li>
                  <li><a href="/diff/hard">Hard</a></li>
                  <li><a href="/diff/hard">Expert</a></li>
                </ul>
              </div>
            </div>
            <div class="full-timer">
              <p class="tim" id="watch"><%= tim %></p>
              <div tabindex="0" class="control_border">
                <div class="control play"></div>
              </div>
            </div>
          </div>
      
