<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
     <link rel="shortcut icon" href="fav/fav.ico">
 
     <link rel="stylesheet" href="css/board.css">
     <title>SUDOKUprj</title>
</head>
<body>
    <div class="godA">
    <nav tabindex="0">
        <div > <a class="logo "><h2>Sudoku.<span class="sol">pro</span> </h2></a></div>
    
    <ul class="nav_links">
        <li><a href="/">New Game</a></li>
        <li><a href="/board" id="res">Restart</a></li>
        <li><a href="#rules">Help</a></li>
        <li><a class="sol">Sol</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <div class ="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
<div class="god">
<div class="wrapper">  

    <div class="extra">
          <div class="drop">
            <p>Difficulty:</p>     
                <div class="dropdown">
