* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgba(24, 24, 24);
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}
/* upper god parent div */
.godA {
  overflow-x: hidden;
  position: relative;
}

/* nav-Bar */
::-webkit-scrollbar {
  background-color: rgba(40, 40, 40);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(27, 27, 27);
  box-shadow: 0px 0px 14px 2px rgba(160, 160, 160);
  border: solid rgba(100, 100, 100) 1px;
  border-radius: 5px;
}
nav {
  z-index: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
  background-color: rgba(30, 30, 30);
  margin: 10px;
  border-radius: 9px;
  box-shadow: 0px 0px 7px 6px rgba(24, 24, 24),
    0px 0px 40px 8px rgba(35, 35, 35);
  outline: none;
}

.logo {
  text-decoration: none;
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 17px;
  text-shadow: 0 0 10px rgba(24, 24, 24);
}
.logo h2 {
  color: #2e8bc0;
  margin-top: 4px;
}
.logo span {
  color: whitesmoke;
  font-size: 22px;
  font-weight: 500;
}
.nav_links {
  z-index: 2;
  margin-top: 6px;
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav_links a {
  text-align: center;
  margin-top: 10px;
  padding-top: 12px;
  /* display: block; */
  width: 150px;
  height: 50px;
  text-shadow: 0 0 6px rgb(100, 100, 100), 0 0 2px rgb(37, 22, 22),
    0 0 5px #181818;
  color: rgba(200, 200, 200);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 13px;
}
.nav_links a:hover {
  text-shadow: 0 0 10px rgb(260, 260, 260), 0 0 2px rgb(37, 22, 22),
    0 0 4px rgba(24, 24, 24);
}
.nav_links li {
  list-style: none;
}

.burger {
  display: none;
}
.burger div {
  width: 18px;
  height: 2px;
  text-shadow: 0 0 3px whitesmoke;
  background-color: whitesmoke;

  margin: 3px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-3px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-2px, -4px);
}
/* Navlink over */
/* ////////////////////////////////////// */
.wrapper {
  margin: 30px auto;
  padding-top: 30px;
  align-items: center;
  max-width: 900px;
  border-radius: 13px;
  border: rgba(27, 27, 27) solid 11px;
  box-shadow: 0 0 22px 22px rgba(20, 20, 20),
    /* 0 0 20px 0px rgba(17,17,17), */ inset 0 0 30px 25px rgba(20, 20, 20),
    inset 0 0 7px 3px whitesmoke, inset 0 0 5px 3px grey;
}
.extra {
  height: 35px;
  display: flex;
  justify-content: space-evenly;

  max-width: 550px;
  margin: 0 auto;
}

/* ////////////////////// */
/* Dropdown for difficulty */
.drop {
  letter-spacing: 1px;
  font-size: 15px;
  padding: 5px;
  padding-left: 5px;
  margin-right: 30px;
  display: flex;
  align-content: center;
}
.drop p {
  margin: 0px;
  margin-left: 10px;
}
.dropdown p {
  letter-spacing: 0px;
  cursor: pointer;
  outline: none;
  margin-left: 6px;
  color: rgba(160, 160, 160);
}

/* Arrow in Dropdown of difficulty level  */
.arrow {
  border: solid rgba(160, 160, 160);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  margin-left: 3px;
  margin-bottom: 2px;
}
/* Upward arrow */
.up {
  border-width: 2px 0 0 2px;
  margin-bottom: 0px;
}
.drop ul {
  letter-spacing: 0px;
  border-radius: 3px;
  background-color: rgba(22, 22, 22);
  box-shadow: 0 3px 3px 0px rgb(82, 82, 82);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  margin-bottom: 0px;
  transition: all 0.25s ease;
}
.invisible {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
}
.visible {
  opacity: 1;
  pointer-events: all;
  transform: translateY(10px);
}
.drop li {
  z-index: 2;
  height: 30px;
  width: 90px;
  height: 36x;
  display: flex;
  align-items: center;
}
.drop li:hover {
  background-color: rgba(32, 32, 32);
}
.dropdown a {
  color: rgba(160, 160, 160);
  margin-left: 8px;
  text-decoration: none;
  cursor: pointer;
  text-align: start;
}

/* ////////////////////////////////////////// */
/* Timer */
.full-timer {
  color: whitesmoke;
  justify-content: space-around;
  display: flex;
  padding: 5px;
  margin-right: 40px;
}
.tim {
  font-size: 18px;
  font-weight: 300;
  margin-right: 2px;
  margin-bottom: 7px;
  letter-spacing: 2px;
}
.full-timer p {
  margin-right: 3px;
  min-width: 65px;
}
/* border of play/pause button */
.control_border {
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: rgba(160, 160, 160) solid 2px;
  height: 22px;
  width: 22px;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 4px;
  margin-top: 1px;
}
.play {
  left: 1px;
  position: relative;
  border-top: 4px solid transparent;
  border-left: 6px solid rgba(130, 130, 130);
  border-bottom: 4px solid transparent;
}
.pause {
  position: relative;
  height: 8px;
  width: 6px;
  border-left: 2px solid rgba(130, 130, 130);
  border-right: 2px solid rgba(130, 130, 130);
}
/* ////////////////////////////////////////////////////////////////////// */
/* TABLES */
table {
  border-collapse: collapse;
}
.tables {
  display: flex;
  justify-content: center;
}
.tablea {
  border: solid 2px rgba(20, 20, 20);
  border-radius: 5px;
  margin: 3px;
  box-shadow: 0px 0px 7px 6px rgba(24, 24, 24),
    0px 0px 40px 8px rgba(40, 40, 40);
}
.tableb {
  margin: auto 0;
  display: flex;
  flex-direction: column;
}
/* Keypad to input numbers */
.mobg {
  outline: none;
  margin: 2px;
  margin-left: 10px;
  background-color: rgba(24, 24, 24);
  border: rgba(47, 47, 47) solid 1px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding-top: 7px;
  border-radius: 10px;
  text-align: center;

  box-shadow: 0px 0px 7px 6px rgba(24, 24, 24),
    0px 0px 40px 8px rgba(35, 35, 35), inset 0px -5px 2px 2px rgba(24, 24, 24);
}
.tablea td {
  cursor: pointer;
  height: 45px;
  width: 45px;
  text-align: center;
  padding: 2px;

  border: 1px solid rgba(90, 90, 90);
  border-collapse: collapse;
}
.tablea td:first-child {
  border-left: 2.5px solid rgba(140, 140, 140);
}
.tablea td:nth-child(3n) {
  border-right: 2.5px solid rgba(140, 140, 140);
}
.tablea tr:first-child {
  border-top: 2.5px solid rgba(140, 140, 140);
}
.tablea tr:nth-child(3n) td {
  border-bottom: 2.5px solid rgba(140, 140, 140);
}
.cell {
  pointer-events: none;
  font-weight: 300;
  opacity: 0;
  color: #2e8bc0;
  text-shadow: 0px 0px 5px rgba(30, 30, 30);
  outline: none;
}

/* Table End */
/* /////////////////////////////////////////// */

/* div with buttons erase,undo etc */
.extrab {
  height: 60px;
  display: flex;
  justify-content: center;
}
.extrab button {
  text-shadow: 0 0 2px grey;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 13px;
  letter-spacing: 1px;
  height: 37px;
  width: 71px;
  font-weight: 10;
  margin: 5px;
  background-color: rgba(24, 24, 24);
  border: rgba(45, 45, 45) solid 1px;
  cursor: pointer;
  box-shadow: 0px 0px 3px 2px rgba(24, 24, 24),
    0px 0px 20px 1px rgba(35, 35, 35), inset 0px -5px 10px 5px rgba(30, 30, 30);
}

/* /////////////////////////////////////////// */
/* rules div */
.rules {
  font-size: 16px;
  line-height: 1.7;
  margin: 35px auto;
  width: 85vw;
  padding: 60px;
  align-items: center;
  max-width: 900px;
  border-radius: 13px;
  box-shadow: 0 0 30px 22px rgba(19, 19, 19);
  color: rgba(185, 185, 185);
  text-align: justify;
}
.rules h4 {
  color: rgba(200, 200, 200);
  margin-bottom: 12px;
  text-shadow: 0 0 2px rgb(37, 22, 22), 0 0 5px rgba(24, 24, 24);
}

.rules hr {
  margin: 25px;
  background-color: rgba(28, 28, 28);
  height: 2px;
}
/* ///////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
footer {
  padding-top: 6px;
  position: static;
  height: 20px;
  background-color: rgba(27, 27, 27);
  color: rgba(120, 120, 120);
  box-shadow: 0px 6px 9px 2px rgba(30, 30, 30);
  clear: both;
  position: relative;
  height: 60px;
  font-size: 14px;
  letter-spacing: 1px;
}
.footer-txt {
  text-align: center;
  padding-top: 10px;
}

/* for tablet */
@media screen and (max-width: 1020px) {
  .nav_links {
    width: 60%;
  }
}

/* /////////////////////////////////////////////////////////////////// */
/* mobile ///////////////////////////////////////////////////////// */
@media screen and (max-width: 725px) {
  .tables {
    flex-direction: column;
    align-items: center;
  }
  .tablea {
    margin-top: 5px;
    margin-right: 0px;
    margin-left: 0px;
    box-shadow: none;
  }
  .tableb {
    flex-direction: row;
  }
  .wrapper {
    box-shadow: none;
    border-left: 0px;
    border-right: 0px;
    margin: 0px;
  }

  .extrab {
    margin-top: 10px;
  }
  .extrab button {
    margin: 3px;
    height: 35px;
    width: 65px;
  }
  .tablea td {
    height: 37px;
    width: 37px;
  }
  .mobg {
    height: 36px;
    width: 36px;
    box-shadow: none;
    margin: 0px;
    border-radius: 6px;
  }
  .nav_links {
    width: 95vw;
    position: absolute;
    display: block;
    right: -6px;
    height: 90vh;
    top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    margin-bottom: 0%;
    background-color: rgba(30, 30, 30);
    margin-top: 25px;
    border-radius: 9px;
    box-shadow: -5px 10px 13px 7px rgba(25, 25, 25);
    z-index: 1;
    padding-bottom: 30px;
  }
  .nav_links li {
    opacity: 0;
  }
  .burger {
    padding-top: 8px;
    padding-left: 5px;
    width: 36px;
    height: 36px;
    background-color: rgba(27, 27, 27);
    border: rgba(35, 35, 35) solid 1px;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 3px rgba(24, 24, 24);
    display: block;
    cursor: pointer;
  }
  .burg {
    box-shadow: 0px 0px 10px 5px rgba(24, 24, 24),
      inset 0px 0px 6px 3px rgba(32, 32, 32);
  }
  .nav_active {
    transform: translateX(-15px);
  }
  .rules {
    width: 100vw;
    padding: 15px;
    padding-top: 55px;
    font-size: 15px;
    line-height: 1.8;
    margin: 20px auto;
  }
  .drop {
    padding-left: 30px;
    margin-right: 0px;
  }
  .drop p {
    /* margin-left: 10px; */
    letter-spacing: 1px;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* /////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* sol button and logo///// */
.sol {
  cursor: pointer;
  font-weight: bolder !important;
  color: rgb(70, 223, 243) !important;
  text-shadow: 0 0 8px rgb(145, 240, 240) !important;
}
